Create Event
<br>

<div class="form-group">
  <label>Event Name</label>
  <input type="text" class="form-control" ng-model="create.newEvent.name" placeholder="Name">
</div>

<div class="form-group">
  <label>Description</label>
  <input type="text" class="form-control" ng-model="create.newEvent.description" placeholder="Description">
</div>

<div class="form-group">
  <label>Start Date</label>
  <input type="ds-datetime" class="form-control" ng-model="create.newEvent.start">
</div>

<div class="form-group">
  <label>End Date</label>
  <input type="ds-datetime" class="form-control" ng-model="create.newEvent.end">
</div>

<div class="form-group">
  <label>Frequency</label>
  <input type="number" class="form-control" ng-model="create.newEvent.frequency">
</div>

<div class="form-group">
  <label>Location</label>
  <input type="text" class="form-control" ng-model="create.newEvent.location">
</div>

<div class="form-group">
  <label>URL</label>
  <input type="text" class="form-control" ng-model="create.newEvent.url">
</div>

<div class="form-group">
  <label>Photo</label>
  <input
    type="file"
    class="form-control"
    ngf-select
    accept="image/*"
    ng-model="create.imageFile"
    ng-change="create.convertImage()">
  <img
    ng-show="create.newEvent.image"
    ng-src="{{ create.newEvent.image }}"
    style="width:24px; height:24px;">
</div>

<button type="submit" class="btn btn-default" ng-click="create.createEvent()" ng-disabled="!create.newEvent.name">Create Event</button>
