.header {
  margin-bottom: 20px;

  img {
    height: 300px;
    width : 880px;
  }
}

.event-detail-section {
  background   : #fff;
  border       : 1px solid @border-gray;
  padding      : 20px;
  margin-bottom: 20px;

  h4 {
    margin-top: 0;
  }

  small {
    color: @orange;
  }

  .event-info-icon {
    &.fa {
      color      : @orange;
      padding-top:3px;
    }
  }

  .event-info-item {
    word-wrap: break-word;
    padding: 1px 0;
  }

  .fa.facebook {
    color: @facebook;
  }

  .fa.twitter {
    color: @twitter;
  }

  .fa.linkedin {
    color: @linkedin;
  }

  .event-info-icon.fa.fa-calendar-plus-o {
    vertical-align: inherit;
    width: 15px;
  }

  .description {
    margin-bottom: 10px;

    small {
      color: #333;
    }
  }
}

.event-detail-section.section-left {
  margin-right: 20px;
}

.event-detail-section.event-detail-image {
  padding : 0;
  overflow: hidden;

  img {
    // width of column is determined by bootstrap grid
    max-width: 435px;
  }
}
