.well {
  background-color: @light-gray;
}

.glyphicon { margin-right:5px; }

// bootstrap override
a.thumbnail {
  padding              : 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius   : 0px;
  border-radius        : 0px;

  &:hover, &:focus {
    border-color: @orange;
  }
}

// TODO: the pixels here are inprecise and not round numbers because we're using
// bootstrap grid to determine the widths.
//
// We are also prioritizing height over width for the img so that images with more height
// than width have white space on the right when displayed. We need to check image dimensions
// during upload and crop or something.
.thumbnail-image {
  height          : 165px;
  overflow        : hidden;
  background-color: @medium-gray;

  img {
    max-width: 277px;
  }
}

// bootstrap override
.caption {
  .fa {
    color: @orange;
    width: 20px;
  }
}

.item {
  padding: 17px 17px 0 17px;
}

.item-text {
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
  margin       : 3px 0;
}

.list-view {
  margin-right : 0;
  margin-left  : 0;
  margin-bottom: 20px;

  .list-view-item {
    float: none;
    width: 100%;
    padding: 5px 0;

    .thumbnail {
      max-height: 162px;
      overflow  : hidden;

      .thumbnail-image {
        height  : 165px;
        width   : 262px;
        overflow: hidden;
        display : inline-block;

        img {
          margin: auto;
          max-width: 277px;
        }
      }

      .caption {
        display: inline-block;
        width: 550px;
        height: 160px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
