@import '../common';

.well {
  background-color: #eee;
}

.glyphicon { margin-right:5px; }

// bootstrap override
.thumbnail
{
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

// TODO: the pixels here are inprecise because we're using bootstrap col so the width
// of each event box is 33.3% of the outer container's width
.thumbnail-image {
  height: 165px;
  width: 261.5px;
  overflow: hidden;
  background-color: #eee;

  img {
    width: inherit;
    margin: auto;
  }
}

.caption {
  .fa {
    color: @orange;
    width: 20px;
  }
}

.list-group-item-heading, .list-group-item-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.list-group {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
}

.item.list-group-item
{
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.item.list-group-item:hover
{
  background: @light-blue;
}

.item.list-group-item .list-group-image
{
  margin-right: 10px;
  width: 230px;
}

.item.list-group-item .thumbnail
{
  margin: 0 -5px 0 -5px;
}

.item.list-group-item .caption
{
  padding: 9px 9px 0px 9px;
}

.item.list-group-item
{
  background: @background-gray-darker;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item img
{
  float: left;
}

.item.list-group-item:after
{
  clear: both;
}

.list-group-item-text
{
  margin: 0 0 3px;
}
