.filter-btn {
  color: @link-blue;
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: @dark-blue;
    cursor: pointer;
  }
}

.filter-btn-expanded {
  color: @dark-blue;
}

.filter-expanded {
  margin-bottom: 20px;
  padding: 9px;

  .row {
    margin-bottom: 10px;
  }
}
