<b>{{ event.name }}</b>
    <ul>
        <li>Description: {{ event.description }}</li>
        <li>Start date: {{ event.start_date }}</li>
        <li>End date: {{ event.end_date }}</li>
        <li>Location: {{ event.location.address_1 }} {{ event.location.city }}, {{ event.location.state }}, {{ event.location.zip_code }}</li>
        <li>Categories:
        {% if categories %}
            <ul>
            {% for category in categories %}
              <li>{{ category.name }}</li>
            {% endfor %}
        {% else %}
            <p>No categories are available.</p>
        {% endif %}
            </ul>
        </li>
    </ul>
