<div class="jumbotron">
  <h1>Queer Spaces</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    <a ng-if="!currentUser" href="/login/facebook/">Login with Facebook</a><br>
    <div ng-if="currentUser">
      Logged in as {{ currentUser.name }} -
      <a href="/api/logout/">Logout</a>
    </div>
    Find events.
  </p>
  <p>
    <a
      class="btn btn-lg btn-success"
      ng-click="getEvent()">
      Get Events!
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </p>
</div>

<div ng-repeat="event in events" class="row marketing">
  <h4>{{ event.name }}</h4>
  <p>
    {{ event.description }}<br>
    {{ event.location.address_1 }}, {{ event.location.city }}<br>
    {{ event.start }}<br>
    {{ event.end }}<br>
  </p>
</div>

