@import 'common';
@import './views/eventlist';
@import './views/filterevents';
@import './views/footer';
@import './views/topbar';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin-bottom: @footer-height;
  background-color: @background-gray;

  a {
    color: @link-blue;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
    color: @dark-blue;
  }

  a:active, a:focus {
    text-decoration: none;
    color: @dark-blue;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 940px;
  }
}
